.shop-container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 auto;
    /* position: relative; */
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 120px 86px 0 100px;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
    max-width: 264px;
    min-width: 200px;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    padding: 0 23px;

}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}