.page {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20% auto;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 62px;
    color: #2A414F;
}

.page span {
    padding: 0 35px;
    color: rgba(255, 153, 0, 1);

}